.icons-container {
  float: left;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.picture-container {
  float: left;
  width: 40%;
  height: 729px;
  position: relative;
  background-image: url('invisible-man.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  width: 33%;
  height: 243px;
  text-align: center;
}

.icon {
  height: 60px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
}

.personal-info {
  display: flex;
  width: 66%;
  display: block;
  background-color: #78A1BB;
  text-align: left;
}

.profile {
  display: flex;
  background-color: #81D2C7;
  display: block;
  width: 34%;
}

h1 {
  font-size: 25px;
  margin: 30px 20px 30px 20px;
}

h2 {
  font-size: 15px;
  margin: 0px 20px 0px 20px;
}

.profile-btns {
  background-color: transparent;
  border: 2px solid black;
  margin: 20px;
  margin-top: 20px;
  padding: 10px;
}

.contact-img {
  height: 15px;
}

.download-img {
  height: 15px;
}

.download-btn {
  margin-right: 5px;
}

.contact-btn {
  margin-left: 10px;
}

.experience {
  background-color: #B4E1FF;
  display: block;
}

.education {
  background-color: #97DFFC;
  display: block;
}

.blog {
  background-color: #78A1BB;
  display: block;
  width: 34%;
}

.social-menu {
  background-color: #F5FFC6;
  display: block;
}

.contact {
  background-color: #B4E1FF;
  display: block;
}

.portfolio {
  background-color: #81D2C7;
  display: block;
  width: 34%;
}

.picture {
  height: 729px;
  width: 100%;
  position: absolute;
}

.nav {
  margin-top: 350px;
  height: 40px;
}

.left {
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}

.imageChoice {
  margin: 5px 3px 0px 10px;
  border-radius: 100%;
  height: 10px;
  background-color: black;
  opacity: .75;
  border: none;
  float: right;
}

.white {
  background-color: white;
}

.buttonSelector {
  float: right;
}

@media screen and (max-width: 1036px) {
  h1 {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 676px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .profile-btns {
    margin-top: 5px;
  }

  h1 {
    margin-bottom: 10px;
  }

  h2 {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 320px) {
  .icons-container {
    width: 100%;
  }

  div {
    width: 50%;
    height: 180px;
  }

  .personal-info {
    width: 0%;
  }

  .blog {
    width: 50%;
  }

  .portfolio {
    width: 50%;
  }

  .profile {
    width: 100%;
  }

  h1 {
    font-size: 15px;
  }

  .icon {
    margin-top: 45px;
  }

  .imageChoice {
    height: 10px;
    border-radius: 100%;
  }

  .nav {
    margin-top: 100px;
    height: 20px;
  }

  .picture-container {
    background-size: cover;
    height: 300px;
    width: 100%;
  }
}
